* {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
}


nav {
    background-color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

#nav-links a {
    color: #3A3772;
    text-decoration: none;
    padding: 10px;
    
}

#nav-links a:hover {
    color: #D43A8E;
    text-decoration: none;
    
}

.logo {
    max-width: 70px;
    padding: 1%;
}


p {
    color: #3A3772;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    color: #3A3772;
    font-size: 40px;
}

.button {
    background-color: #FBCA47; 
    border: none; 
    color: #3A3772; 
    padding: 15px 24px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 100px;
    font-weight: 700;
}

.button:hover {
    background-color: #D43A8E; 
    border: none; 
    color: #ffffff;
    padding: 15px 24px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 100px;
}

#welcome-text {
    background-color: #f0f0fa;
    width: 50%;
    padding-top: 13%;
    padding-left: 5%;
}

header {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.banner-image {
    width: 50%;
}

.projects {
    display: flex;
    align-items: center;
    margin: 5%;
}