* {
    font-family: Urbanist, Arial, Helvetica, sans-serif;
}


nav {
    background-color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

#nav-links a {
    color: #3A3772;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    
}

#nav-links a:hover {
    color: #D43A8E;
    text-decoration: none;
    
}

.logo {
    max-width: 70px;
    padding: 1%;
}


p {
    color: #3A3772;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}

h1 {
    color: #3A3772;
    font-size: 40px;
}

h4 {
    color: #3A3772;
    font-size: 30px;
    margin-top: 2%;
    line-height: 0px;
}

.button {
    background-color: #FBCA47; 
    border: none; 
    color: #3A3772; 
    padding: 15px 24px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 100px;
    font-weight: 700;
}

.button:hover {
    background-color: #D43A8E; 
    border: none; 
    color: #ffffff;
    padding: 15px 24px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 100px;
}

#welcome-text {
    background-color: #f0f0fa;
    width: 50%;
    padding-top: 8%;
    padding-left: 5%;
}

header {
    display: flex;
    width: 100%;
    align-items: stretch;
    max-height: 500px;
}

.banner-image {
    width: 50%;
    height: auto;
}

.projects {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.project {
    display: block;
    align-items: center;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

a {
    color: #D43A8E;
    font-weight: 800;
}

a:hover {
    color: #3A3772;
    font-weight: 800;
}

.top-heading {
    color: #D43A8E;
    text-transform: uppercase;
    padding-bottom: 3%;
    letter-spacing: 2px;
}

.about {
    display: flex;
    background-color: #f0f0fa;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 34px;
    padding: 3%;
}

#about-pic {
    border-radius: 20px;
}

.feature-text {
    padding-right: 3%;
}